header{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	// background-color: none;
	position: relative;
	top:0;
	z-index: 1;
	
	nav{
		position: absolute;
		top:0;
		background-color: $clcBlackFade2;
		height: auto;
		width:100%;

		@media #{$tablet}{
			display: flex;
		}

		.logo{
			

			@media #{$tablet}{
				width: 50%;
			}
	
			.clc-logo{
				padding-top:5%; 
				margin:0 29%;
				width:40%;

				@media #{$tablet}{
					margin:3%;
					width:35%;
					padding-top:0%; 
				}

				@media #{$desktop}{
					width:30%;
				}

				@media #{$XLdesktop}{
					width:25%;
				}
			}
			
		}

		ul{
			font-size:1.2rem;
			font-family: $clcZilla;
			font-weight: lighter;
			margin:2%;
			
			
			@media #{$tablet}{
				width: 50%;
				display: flex;
				justify-content: space-around;
			}

			@media #{$desktop}{
				justify-content: space-between;
			}

			@media #{$desktop}{
				justify-content: space-evenly;
			}
			
			li{
				margin-bottom:5%;
				text-align: center;
				a{
					text-decoration: none;
					color:white;
					border-bottom:1px solid white;
				}
			}

		}
		
	}

}


footer{
	background-color: $clcBlack;
	width:100%;
	height: auto;
	color:$clcWhite;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	// position: absolute;
	// bottom:0;
	
	@media #{$tablet}{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	@media #{$desktop}{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		position: relative;
		bottom:0;
	}

	.footr{
		
		align-self: center;	
		text-align: center;
		line-height: 1.4rem;
		width: 50%;

		h1{
			margin:10%;
			font-family: $clcZilla;
			font-size: 1.5rem;
			letter-spacing: .5rem;

			@media #{$tablet}{
				margin:5%;
			}
		}

		ul{
			font-family: $clcZilla;


			li{
				margin-bottom:2%;
				text-align: center;

				@media #{$tablet}{
				
					li{
						margin-bottom:2%;
					}
				}
				
				a{
					text-decoration: none;
					color:white;
					border-bottom:1px solid white;
				}
			}

		}
	}
	
}