/* Page 3. Content ================================= */

/* *. header & nav see @import header ========= */
//header posiiton absolute needs to be turned off. 

.wallpaper-page3{
	width:100%;
	height: 420px;
	background-image: url("../img/nathan-dumlao-1555019-unsplash.jpg");
    background-size: cover;
    background-position: 0 30%;
	position: relative; 
	top:0;
	z-index: -99;
	padding-top:15%;

	h1{
		width: 100%;
		color:$clcWhite;
		font-size: 1.5rem;
		text-align: center;	
		position: absolute;
        bottom:30%;
        
        @media #{$tablet}{
            bottom:10%; 
        }
    }
    
    .hdr-bttn-pg3{
		width:100%;
		display: flex;
		justify-content: center;
		position: absolute;
		bottom:10%;
		
		.bgBttn-pg3{
			background-color: $clcOrange;
			color: $clcWhite;
			width:50%;
			font-size: 1rem;
			padding:2%;
			border-radius: 10px;
			border: 1px solid rgb(147, 83, 6);

			@media #{$tablet}{
                display: none; 
			}
		}
	}

	@media #{$tablet}{
        
        background-image: url("../img/nathan-dumlao2.jpg");
        height: 125px;

		h1{
			font-size: 1.8rem;
		}
	}
}

.order-page-wrapper{
    position: relative ;
    @media #{$tablet}{
        display: flex;    
    }

    .clc-products-pg3{
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin:0;
      
        @media #{$tablet}{
            width: 50%;
            margin: 0%;
            border-right: 4px solid $clcBrown; 
        }
    
        @media #{$desktop}{
            width: 75%;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
        }

    }
    
    .clc-orderForm{
        display: flex;
        flex-direction: column;
        background-color: $clcBlackFade;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 1;
    
        @media #{$tablet}{
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            margin-top:0%;
            background-color:$clcTan;
        }

        @media #{$desktop}{
            width: 25%;
            
        }
    
        .your-cart{
            position: sticky;
            top: 0;
            background-color: $clcTan;
            width: 80%;
            margin: 0 auto;
            margin-top:5%;
            padding: 5%;
            border-radius: 10px;
            border: 2px solid $clcBrown; 

    
            h1{
                text-align: center;
                margin:5%;
                font-size: 1.5rem;
                font-weight: bold;
                color:$clcBrown;
                font-family: $clcZilla;
            }

            input{
                width:50px;
                margin-right: 15px;
            }

            .order{
                display: flex;
                margin-bottom: 5%;
                
                label{
                    font-family: $clcMont;
                    color:$clcGray;
                    flex-grow: 1;
                }

                .price{
                    font-family: $clcMont;
                    color:$clcGray;
                    font-weight: bold;
                }
            }

            .order-total{
                display: flex;
                justify-content: space-between;
                margin:5% 0;
                color:$clcBrown;
                font-family: $clcZilla;
                font-weight: bold;
                font-size: 1.2rem;
            }
    
            .order-bttn{
                width:100%;
                display: flex;
                justify-content: center;
                position: relative;
                bottom:3%;
        
                .smBttn{
                    background-color: $clcOrange;
                    color: $clcWhite;
                    width:50%;
                    font-size: 1rem;
                    padding:2%;
                    border-radius: 10px;
                    border: 1px solid rgb(147, 83, 6);
                }
            } 
            
            
            @media #{$tablet}{
                width: 100%;
                margin-top:0%;
                border-radius: 0%;
                border: none; 
               
            }

            @media #{$desktop}{
                margin-top:5%;
            }
        }  
    }
}

.product-pg3{
    width: 100%;
    padding-bottom:5%;

    @media #{$tablet}{
        display: flex;
        padding: 5%;
        flex-direction: column;
    }

    @media #{$desktop}{
        margin: 1%;
        padding: 0%;
        width:40%;
        margin-top:5%;
    }

    .product-img{
        width: 100%;
        margin-bottom:5%; 
    }

    .product-info{

        .prod-name{
            display: flex;
            justify-content: space-between;
            margin-bottom:5%;

            .blend-name{

                h1{ 
                    font-family:$clcZilla;
					color: $clcGray;
					font-weight: bold;
                    font-size: 1.3rem;
                }

                h2{
                    font-family: $clcMont;
                    color: $clcGray;
                    margin-top:5%;
                }
            }

            .blend-bean{
                width: 30px;
            }
        }

        .prod-price{
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            h1{
                font-family:$clcZilla;
				color: $clcGray;
				font-weight: bold;
                font-size: 1.3rem;
            }

            .cart-button{
                background-color: $clcOrange;
                color: $clcWhite;
                width:150px;
                font-size: 1rem;
                padding:2%;
                border-radius: 10px;
                border: 1px solid rgb(147, 83, 6);
            }
        }
    }

}