/* Page 2. Content ================================= */

/* *. header & nav see @import header ========= */
 //header posiiton absolute needs to be turned off. 



.clc-drinks{
	margin-top:20%;
	display: flex;
	flex-direction: column;
	margin: 5%;

	@media #{$tablet}{
		flex-direction: column;
		justify-content: space-evenly;
	}

	@media #{$desktop}{
		flex-direction: row;
	}

	// @media #{$desktop}{
	// 	height: 650px;
	// }
	

	.menu-item{
		width: 100%;

		@media #{$tablet}{
			display: flex;
			flex-direction: row;
		}

		@media #{$desktop}{
			display: flex;
			flex-direction: column;
		}

		.img-drinks{
			
			@media #{$tablet}{
				width:50%; 
			}
			img{
				width: 100%;

			}
		}
	
		.ul-drinks{
			margin:3%;
			padding: 2%;

			@media #{$tablet}{
				width:50%; 
				margin:0%;
			}

			h1{
				text-align: center;
				margin:2%;
				font-size: 1.5rem;
			}

			ul{
				h1{
					font-size: 2rem;
					font-weight: bold;
					color:$clcBrown;
					text-align: center;
					font-family: $clcZilla;
				}

				li{
					font-family: $clcMont;
					color:$clcGray;
					margin:4%;
					
					@media #{$tablet}{
						margin:10%; 
					}

					.price{
						float: right;
					}
				}
			}
			
		}
	}

}