/* Page 2. Content ================================= */

/* *. header & nav see @import header ========= */
//header posiiton absolute needs to be turned off. 

.wallpaper{
	width:100%;
	height: 300px;
	background-image: url("../img/mike-kenneally-46284-unsplash.jpg");
	background-size: cover;
	position: relative; 
	top:0;
	z-index: -99;
	padding-top:15%;

	h1{
		width: 100%;
		color:$clcWhite;
		font-size: 1.5rem;
		text-align: center;	
		position: absolute;
		bottom:10%;
	}

	@media #{$tablet}{
		height: 125px;

		h1{
			font-size: 1.8rem;
		}
	}
}

.clc-drinks{

	padding:5%;
	display: flex;
	flex-direction: column;
	//margin: 5%;

	@media #{$tablet}{
		flex-direction: column;
		justify-content: space-evenly;
	}

	@media #{$desktop}{
		flex-direction: row;
	}

	// @media #{$desktop}{
	// 	height: 650px;
	// }
	

	.menu-item{
		width: 100%;
		margin-bottom: 2%;

		@media #{$tablet}{
			display: flex;
			flex-direction: row;
		}

		@media #{$desktop}{
			display: flex;
			flex-direction: column;
			margin: 2%;
		}

		.img-drinks{
			
			img{
				width: 100%;

			}

			@media #{$tablet}{
				width:50%; 
			}

			@media #{$desktop}{
				width:100%; 
			}
			
		}
	
		.ul-drinks{
			margin:3%;
			padding: 2%;

			h1{
				text-align: center;
				margin:2%;
				font-size: 1.5rem;
			}

			ul{
				h1{
					font-size: 2rem;
					font-weight: bold;
					color:$clcBrown;
					text-align: center;
					font-family: $clcZilla;
				}

				li{
					font-family: $clcMont;
					color:$clcGray;
					margin:4%;
					
					@media #{$tablet}{
						padding:2%; 
					}

					.price{
						float: right;
					}
				}
			}

			@media #{$tablet}{
				width:50%; 
				margin:0%;
			}
			@media #{$desktop}{
				width:100%; 
			}
			
		}
	}

}