
$clcOrange: #DD5800;
$clcBrown: #472716;
$clcTan: #E7D3C4;
$clcBlack: #262626;
$clcBlackFade: rgba(38, 38, 38, 0.7);
$clcWhite: #ffffff;
$clcGray:rgb(111, 106, 106);

$tablet: "(min-width: 600px)";
$desktop: "(min-width: 1024px)";
$XLdesktop: "(min-width: 1360px)";

$clcMont: 'Montserrat', sans-serif;
$clcZilla: 'Zilla Slab', serif