/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';
@import 'header'; //header posiiton absolute needs to be turned on. 
@import 'media';
@import 'page2';
@import 'page3';


/* 1. Main Layout ================================= */

*{
	box-sizing: border-box;
}

html{
	min-height: 100%;
	background-color: $clcBlack;
}

body {
	background-color: $clcTan;
}

/* Page 1. Content ================================= */
/* *. header & nav see @import header ========= */

.cta-wrapper{
	width:100%;
	height: 450px;
	background-image: url("../img/lee-campbell-512447-unsplash.jpg");
	background-size: cover;
	position: relative;
	top:0px;
	font-family: $clcMont;
	
	@media #{$tablet}{
		background-position: center;
	}

	@media #{$desktop}{
		height: 650px;
		background-image: url("../img/lee-campbell2.jpg");

	}
	
	h1{
		width: 100%;
		color:$clcWhite;
		font-size: 1.5rem;
		text-align: center;	
		position: absolute;
		top:60%;
	}

	.hdr-bttn{
		width:100%;
		display: flex;
		justify-content: center;
		position: absolute;
		bottom:10%;
		
		.bgBttn{
			background-color: $clcOrange;
			color: $clcWhite;
			width:50%;
			font-size: 1rem;
			padding:2%;
			border-radius: 10px;
			border: 1px solid darkorange;

			@media #{$tablet}{
				width:25%;
			}
		}
	}	
	
	
}



.clc-body{
	height: 100%;
	
	@media #{$tablet}{
		display: flex;

	}

	.our-story-img{
	 	display: none;

		@media #{$tablet}{
			display: block;
			width: 50%;

			img{
				width:100%;
				height: 100%;
			}   
		}

		@media #{$desktop}{
			width:40%;
		}

		@media #{$XLdesktop}{
			width:30%;
		}
	}
	
	.our-story{

		@media #{$tablet}{
			width: 50%;
		}

		@media #{$desktop}{
			width:60%;
		}

		@media #{$XLdesktop}{
			width:70%;
		}

		h1{
			font-size: 2rem;
			font-weight: bold;
			color:$clcBrown;
			text-align: center;
			margin:8%;
			font-family: $clcZilla;
		}
		p{
			margin:6%;
			font-size:1rem;
			line-height: 1.5rem;
			font-family: $clcMont;
			color:$clcGray;
		

			@media #{$XLdesktop}{
				width:60%;
				margin:2% auto;
			}
	
		}
	}
}






	
