/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'media';
@import 'page2';

$clcOrange: #DD5800;
$clcBrown: #472716;
$clcTan: #E7D3C4;
$clcBlack: #262626;
$clcWhite: #ffffff;

$tablet: "(min-width: 600px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

/* 1. Main Layout ================================= */

*{
	box-sizing: border-box;
}

body {
	background-color: $clcTan;
}




/* 2. Content ================================= */

header{
	width: 100%;
	height: auto;
	background-image: url("../img/lee-campbell-512447-unsplash.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-content: center;

	nav{
		background-color: $clcBlack;
		opacity: .9;
		height: auto;

		@media #{$tablet}{
			display: flex;
		}

		.logo{
			background-color: white;

			@media #{$tablet}{
				width: 50%;
			}
	
			.clc-logo{
				position: relative;
				left:25%;
				width:50%;

				@media #{$tablet}{
					left:0%;
				}
			}
			
		}

		ul{
			@media #{$tablet}{
				width: 50%;
			}

			li{
				text-align: center;
				color:white;
				margin-bottom:2%;

				@media #{$tablet}{
					margin:5%;
					display: inline;
					float: left;
				}
				
			}

		}
		
	}


	.hdr-cta{
		margin: 10% 0;

		h1{
			margin:0 auto;
			width: 45%;
			color:$clcWhite;
			font-size: 1.5rem;
			text-align: center;	

			@media #{$tablet}{
				width:100%;
				font-size: 2rem;
			}
		}
	}

	.hdr-bttn{
		width:100%;
		display: flex;
		justify-content: center;
		margin: 10% 0;
		
		.bgBttn{
			background-color: $clcOrange;
			color: $clcWhite;
			width:50%;
			font-size: 1rem;
			padding:2%;
			border-radius: 5%;
			border: 1px solid darkorange;

			@media #{$tablet}{
				width:25%;
			}
		}
	}
}


.clc-body{
	height: 100%;
	
	@media #{$tablet}{
		display: flex;

	}

	.our-story-img{
	 	display: none;

		@media #{$tablet}{
			display: block;
			width: 50%;
			height: 340px;
			background-image: url(/dist/img/latteCloseup.jpg);
			background-size: cover;    
		}
	}
	
	.our-story{

		@media #{$tablet}{
			width: 50%;
		}

		h1{
			font-size: 1.3rem;
			font-weight: bold;
			color:$clcBrown;
			text-align: center;
			margin:10%;
		}
		p{
			margin:6%;
			font-size:1rem;
	
		}
	}
}



footer{
	background-color: $clcBlack;
	opacity: .9;
	height: auto;
	color:$clcWhite;
	display: flex;
	flex-direction: column;
	
	@media #{$tablet}{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.footr{
		margin:5%;
		align-self: center;	

		h1{
			text-align: center;
			margin:10%;
		}

		li{
			margin:5% 0;
			color:$clcWhite;
		}
	}
	
}



	
